:root {
    --font-weight-hh: 700;
    --font-weight-h: 500;
    --font-size-hh: 36px;
    --font-size-h: 20px;
    --line-height-hh: 1.1;
    --line-height-h: 1.2;
    --line-height-p: 1.5;
    --letter-spacing-h: 0.04em;
    --letter-spacing-p: 0.02em;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --white: #ffffff;
    --cloud: #f4f4fd;
    --dairy: #fcfcfc;
    --green: #31d0aa;
    --slate: #434455;
    --navy-blue: #2e2f42;
    --cornflower: #e7e9fc;
    --light-slate: #8e8f99;
}

button,
ul,
h1,
h2,
h3,
p,
b {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}