 @import './config.css';
 /* Portfolio */
 
 .projects {
     padding-top: 96px;
     padding-bottom: 120px;
 }
 
 .filters-list {
     display: flex;
 }
 
 .filters-text {
     padding: 12px 24px;
     font-weight: var(--font-weight-h);
     line-height: var(--line-height-p);
     text-align: center;
     letter-spacing: var(--letter-spacing-h);
     color: var(--iris);
     background-color: var(--cloud);
     border: 1px solid var(--cornflower);
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .filters-text:hover,
 .filters-text:focus {
     color: var(--white);
     background-color: var(--ocean);
     border: 1px solid var(--ocean);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }
 /******************************* PROJECTS *******************************/
 
 .projects-list {
     display: flex;
     flex-wrap: wrap;
 }
 
 .project-item:hover,
 .project-item:focus {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }
 /* blocking */
 
 .projects-img {
     position: relative;
     overflow: hidden;
     display: flex;
 }
 
 .projects-img::before {
     content: "";
     position: absolute;
     display: inline-block;
     z-index: 1;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: var(--iris);
     mix-blend-mode: normal;
     transform: translateY(100%);
     transition-property: transform;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .projects-item:hover .projects-img::before,
 .projects-item:focus .projects-img::before {
     transform: translateY(0);
 }
 
 .hidden-text {
     position: absolute;
     z-index: -1;
     top: 0;
     left: 0;
     padding-top: 40px;
     padding-left: 32px;
     padding-right: 32px;
     line-height: var(--line-height-p);
     letter-spacing: var(--letter-spacing-p);
     color: var(--cloud);
     transition-property: z-index;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .projects-item:hover .hidden-text,
 .projects-item:focus .hidden-text {
     z-index: 2;
 }
 
 .projects-card {
     padding-top: 32px;
     padding-bottom: 32px;
 }
 
 .projects-direction {
     margin-bottom: 8px;
     padding-left: 16px;
     font-weight: var(--font-weight-h);
     font-size: var(--font-size-h);
     line-height: var(--line-height-h);
     letter-spacing: var(--letter-spacing-p);
     color: var(--navy-blue);
 }
 
 .projects-text {
     padding-left: 16px;
     line-height: var(--line-height-p);
     letter-spacing: var(--letter-spacing-p);
     color: var(--slate);
 }
 
 @media (max-width: 767px) {
     .container {
         max-width: 428px;
     }
     .projects {
         padding: 0;
     }
     .filters-list {
         flex-wrap: wrap;
         padding-top: 48px;
         padding-bottom: 32px;
     }
     .filters-item {
         margin-right: 24px;
         margin-bottom: 16px;
         justify-content: center;
     }
     .projects-item {
         margin-bottom: 48px;
         margin-left: auto;
         margin-right: auto;
     }
     .projects-item:hover .hidden-text,
     .projects-item:focus .hidden-text {
         z-index: -1;
     }
     .projects-img img {
         width: 100%;
     }
 }